#countLabel{
    text-align: center;
    display: block;
    font-size: 6em;
}
#countProgram{
    text-align: center;
}
.btn{
    padding: 8px 12px;
    background-color: rgb(69, 112, 167);
    transition: background-clor 0.6s;
    cursor: pointer;
}
.btn:hover{
background-color: rgb(162, 69, 167);
}